In [12]:
import pandas as pd
import json
import re

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [4]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_info_df = pd.read_csv("backer_info.csv")
backer_info_df.head()

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}

In [ ]:
# Iterate through the backers DataFrame and convert each row to a dictionary.
dict_values = []
for i, row in backer_info_df.iterrows():
    data = row['backer_info']
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values =[v for k, v in converted_data.items()]
    # Append the list of values for each row to a list. 
    dict_values.append(row_values)

# Print out the list of values for each row.
print(dict_values)

In [6]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backers_df = pd.DataFrame(dict_values, columns = ['backer_id','cf_id', 'name', 'email'])
backers_df.head()

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com

In [7]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv('backers_temp.csv', encoding="utf-8")

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [10]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_info_df = pd.read_csv("backer_info.csv")
backer_info_df
backers_df.filter(regex='name')

                  name
0       Angelo Vincent
1        Hubert Arnold
2         Loris Goulet
3     Teodora Brunelli
4           Lexie Hunt
...                ...
8170   Serita Thebault
8171   Glenn Foerstner
8172       Robt Collin
8173      Corina Zappa
8174     Freeman Gibbs

[8175 rows x 1 columns]

In [13]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backer_info_df
data = {'column1': [{'key1': 'value1'}, {'key2': 'value2'}]}
newbackdf = pd.DataFrame(data)
newbackdf.head()

              column1
0  {'key1': 'value1'}
1  {'key2': 'value2'}

In [8]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [11]:
# Create a new DataFrame with the appropriate columns.

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [14]:
# Check data types.
backers_df.dtypes

backer_id    object
cf_id         int64
name         object
email        object
dtype: object

In [14]:
# Convert cf_id to an integer if necessary.

In [15]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[["first_name","last_name"]] = backers_df["name"].str.split(' ', n=1, expand = True)

In [16]:
#  Drop the name column
backers_df = backers_df.drop(["name"], axis=1)

# Reorder the columns
backers_df = backers_df[["backer_id", "cf_id", "first_name","last_name", "email"]]

In [17]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv("backers.csv", encoding="utf-8", index = False)

In [18]:
backers_df.head()

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com